<article class="categories">
<ul>
  <li><%= link_to "Merchants", merchants_path %></li>
  <li><%= link_to "Products", products_path %></li>
  <li><%= link_to "Categories", categories_path %></li>
</ul>
</article>

<p>
  This is the view belonging to main#index
</p>
