<article>
  <%if flash[:notice]%>
    <h2 id="notice"><%= flash[:notice] %></h2>
  <%end%>
  <div class="row center small-7 columns category-img">
    <%= image_tag 'basket.jpg' %>
  </div>
</article>
