<article>
  <header>
    <h1 class="page-title">All Mechants</h1>
  </header>
</article>

<ul class="row small-up-4 bullet-none indent">
  <% @merchants.each do |merchant| %>
    <li class="column">
      <%= link_to "#{merchant.name}", merchant_path(merchant) %>
    </li>
  <% end %>
</ul>

<ul class="row small-up-12">
  <li class="column">
    <%= image_tag "merchant-strawberries.jpg", class: "merchant-img" %>
  </li>
</ul>
