<article>
  <header>
    <h1 class="page-title">Here are all the merchants listed</h1>
  </header>
</article>

<article class="">
  <% @merchants.each do |merchant| %>
  <section>
    <%= link_to "#{merchant.name}", merchant_path(merchant) %>
  </section>
  <% end %>
</article>
