@import url('foundation.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
/*@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Forum|Gruppo|Josefin+Slab|Kameron|Kranky|Nixie+One');*/

/*HEADER*/
header section.top-bar {
  background-color: #5A6070;
  margin-bottom: 2%;
}

section.top-bar nav.top-bar-section {
  font-family: 'Josefin Slab', serif;
}

ul.menu.top-bar-left, ul.menu.top-bar-right {
  background-color: transparent;
  font-family: 'Josefin Slab', serif;
  color: #ECEBE4;
  padding: 0 1% 0 1%;
}

header article h1#header-title a {
  font-family: 'Josefin Slab', serif;
  color: #483C46;
  background-color: transparent;
}

header article h4#header-subtitle {
  font-family: 'Josefin Slab', serif;
  color: #483C46;
  background-color: transparent;
}

header article h1#header-title a:hover {
  color: #5A6070;
}

header section#category-list article.top-bar-section ul {
  margin-top: 2%;
  background-color: #5A6070;
}

.center {
  text-align: center;
}

/*ALL PAGES*/
.page-title {
  padding-top: 2%;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #5E4E5B;
}

/*PRODUCT PAGES*/
.product-img {
  display: block;
  width: 50%;
  margin: auto;
}

/*CATEGORY PAGES*/
.category-img {
  display: block;
  width: 50%;
  margin: auto;
}
