@import url('foundation.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');


/*HEADER*/
header section.top-bar {
  background-color: #5A6070;
  margin-bottom: 2%;
}

.basketcart-img {
  height: 30%;
}

section.top-bar nav.top-bar-section {
  font-family: 'Josefin Slab', serif;
}

ul.menu.top-bar-left, ul.menu.top-bar-right {
  background-color: transparent;
  font-family: 'Josefin Slab', serif;
  color: #ECEBE4;
  padding: 0 1% 0 1%;
}

ul.menu.top-bar-right li a{
  display: inline;
  text-align: right;
}

.increase-font2 {
  font-size: 150%
}

header article h1#header-title a {
  font-family: 'Josefin Slab', serif;
  color: #483C46;
  background-color: transparent;
}

header article h4#header-subtitle {
  font-family: 'Josefin Slab', serif;
  color: #483C46;
  background-color: transparent;
}

header article h1#header-title a:hover {
  color: #595959;
}

header section#category-list article.top-bar-section ul {
  border-top: #5A6070 solid 1px;
  border-bottom: #5A6070 solid 1px;
}

.increase-space {
  padding-bottom: 2%;
}

.center {
  text-align: center;
}

/*FOOTER*/
footer div {
  width: 100%;
  background-color: #5A6070;
  color: #ECEBE4;
}

footer div p {
  padding: .3%;
}

/*ALL PAGES*/
.page-title {
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #5E4E5B;
}

ul.bullet-none {
  list-style: none;
}


table, th, td {
  border: 1px solid darkgrey;
  font-family: 'Josefin Slab', serif;
}

.indent {
  margin-left: 10%;
}

.add-space {
  padding-right: 2%;
}

.change-font {
  font-family: 'Josefin Slab', serif;
}

.add-padding-top {
  padding-top: 1%;
}

.underline {
  border-bottom: dotted black 1px;
}

/*PRODUCT PAGES*/
.product-img {
  /*display: block;*/
  width: 100%;
  /*margin: auto;*/
  padding: auto;
}

.product-link {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #5E4E5B;
}

.product-image-thumbnail {
  width: 70%;
  padding: 2%;
}

.product-button {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  padding: 3px;
  margin-top: 5px;
  border: solid 1px #5A6070;
  border-radius: 25%;
  color: #ECEBE4;
  background-color: #5E4E5B;
  display: inline-block;
 }

 .category-link {
  font-family: 'Josefin Slab', serif;
}

/*CATEGORY PAGES*/
.category-img {
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 2%
}
.category-img-thumbnail {
  display: block;
  padding: 2%
}

.underline-category {
  border-bottom: solid 1px #110D0F;
  margin-bottom: 2%;
}

.product-categories-link {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #5E4E5B;
}

.merchant-img-thumbnail {
  width: 30%;
}

/*TABLES*/
.new-table {
  padding: 2% 15% 0% 15%;
}

.product-new-table {
  padding: 2% 15% 0% 15%;
  background-color: #ECEBE4;
}

.form-text {
  font-family: 'Josefin Slab', serif;
  padding-left: 15%;
  padding-top: 2%;
}

#category-options {
  font-family: 'Josefin Slab', serif;
  padding-left: 10%;
}

.cream-background {
  background-color: #ECEBE4;
  margin: 0 2% 0 2%;
}

.top-add-space {
  padding-top: 2%;
}

.increase-font {
  font-size: 110%
}

.padding-lf-rt {
  padding: 0 4% 0 4%;
}

.padding-bot {
  padding-bottom: 3%;
}

/*MERCHANT*/
.merchant-img {
padding-top: 3%;
}
