@import url('foundation.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
/*@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Forum|Gruppo|Josefin+Slab|Kameron|Kranky|Nixie+One');*/

/*HEADER*/
header {
  background-color: #5A6070;
}

header h1 a {
  font-family: 'Josefin Slab', serif;
  color: #483C46;
  background-color: transparent;
}

header h1 a:hover {
  color: #5A6070
}

h4 {
  font-family: 'Josefin Slab', serif;
  color: #565656;
}

article.categories {
  border-top: solid #5A6070 1px;
  border-bottom: solid #5A6070 1px;
  font-family: 'Josefin Slab', serif;
  padding: .4% 0 0 0;
}

article.categories ul {
  list-style-type: none;
}

article.clear-background {
  background-color: white;
}

div.login-navbar {
  color: #ECEBE4;
  font-family: 'Josefin Slab', serif;
  padding: .3% 0 .3% 2%;
}

p.columns, p {
  margin : 0;
}

/*MAIN PAGE*/
img {
  margin: auto;
  padding-top: 4%;
}
