<h1>Add a New Category</h1>

<%= render partial: "form", locals: { submit_url: categories_path, http_method: :post } %>

<h4>Don't want to add a category, <%= link_to "Go Back to All Categories", categories_path %></h4>
