<article>
  <header>
    <h1 class="page-title">Add a New Category</h1>
  </header>

  <section class="new-table">
    <%= render partial: "form", locals: { submit_url: categories_path, http_method: :post } %>
  </section>

  <h5 class="form-text">Don't want to add a category, <%= link_to "Go to All Categories", categories_path %></h5>
</article>
