<%= @category.name %>
<%= link_to "#{image_tag(@category.photo_url)}".html_safe, category_path %>

<% @products_by_category.each do | product | %>
  <ul>
    <li><%= link_to product.name, product_path(product.id) %></li>
  </ul>
<% end %>
