<article>
  <header>
    <h1 class="page-title"><%= @category.name %></h1>
  </header>

  <section class="underline-category">
    <%= link_to "#{image_tag(@category.photo_url)}".html_safe, category_path, class: "category-img" %>
  </section>

  <ul class="row small-up-3 bullet-none">
    <% @products_by_category.each do | product | %>
      <li class="column">
        <p><%= image_tag(product.photo_url, class:"category-img-thumbnail") %></p>
        <p><%= link_to product.name, product_path(product.id), class: "product-link" %></p>
      </li>
    <% end %>
  </ul>
</article>
