<article>
  <header>
    <h2 class="page-title">
      All the Products
      <% if @merchant %>
        for <%= @merchant.name %>
      <% end %>
    </h2>
  </header>

  <section>
    <ul class="row small-up-3 bullet-none">
    <% @products.each do |product| %>
        <li class="column">
            <p><%= image_tag(product.photo_url, class:"product-img-thumbnail") %></p>
            <p class: "product-link"><%= link_to "#{product.name}", product_path(product), class: "product-link " %></p>
        </li>
    <% end %>
  </ul>
  </section>
</article>
