<header>
  <h1>
    All the Products
    <% if @merchant %>
      for <%= @merchant.name %>
    <% end %>
  </h1>
</header>

<article>
  <section>
    <table>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to "#{product.name}", product_path(product) %>
          </td>
        </tr>
      <% end %>
    </table>
  </section>
</article>
